<div id="header">
  <h1>Burgers!</h1>
  <img src="/assets/img/6-2-burger-png-image.png" alt="burgerpng">  
</div>



<div id="burger_grid">
    <div class="not-devoured">
        <h2>Burgers that are not Devoured!</h2>

            <ol>
              {{#each burgers}}
                {{#unless devoured}}
                  {{> burgerPartial devoured=false}}
                {{/unless}}
              {{/each}}
            </ol>
    </div>

    <div class="devoured">
    <h2>Burgers that are Devoured!</h2>

            <ol>
              {{#each burgers}}
                {{#if devoured}}
                  {{> burgerPartial devoured=true}}
                {{/if}}
              {{/each}}
            </ol>
    </div>

</div>

<div id="add_form">
      <h2>Add a Burger</h2>
          <form class="create-form">

              <div class="form-group">
                  <label for="bug">Burger Name:</label>
                  <input type="text" id="bug" name="name">
              </div>
              <div class="form-group">
                  {{!-- <label for="devoured">devoured?</label><br> --}}
                  <input type="radio" name="devoured" style="display:none" value="0" checked>
                  {{!-- <input type="radio" name="sleepy" value="0"> Awake --}}
              </div>
              <button type="submit">Add Burger</button>
          </form>

</div>




