#header {
  margin:0 auto;
  padding:10px;
  width:100%;
  text-align:center;
  color:yellow;
  background-color:gray;
}

h1 {
  text-transform:uppercase;
}

img {
  width:180px;
  height:auto;

}

h2{
  text-align:center;
}

#burger_grid{
  margin:0 auto;
  width:60%;
  padding:20px;
  background-color:whitesmoke;
  display:flex;
  justify-content: space-between;
}
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }

  #add_form{
    margin:0 auto;
    width:30%;
    padding:10px;
  }
  
  .create-form {
    margin:0 auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    width:100%;
    padding: 10px;
    /* margin: 5px; */
    background: lightgray;
  }
  
  .form-group {
    margin-bottom: 5px;
    /* background-color:red; */
  }

  form button{
    width:150px;
    height:30px;
    /* background-color:lightblue; */
  }
  
  form #bug {
    width:350px;
    background-color: whitesmoke;
  }

  form input[name="isDevoured"]{
    width:150px;
    background-color: white;
  }
  